<div class="tab-pane active" id="tab_1">
	<div class="panel-group" id="accordion1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">Goals</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="accordion1_1">
				<div class="panel-body">
					<p></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">Overview</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="accordion1_2">
				<div class="panel-body">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>
