<div class="tab-pane" id="tab_2">
	<div class="panel-group" id="accordion2">
		<!-- DAY 1 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#accordion2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">DAY, DATE</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="accordion2_1">
				<div class="panel-body">
					<p></p>
				</div>
			</div>
		</div>
		<!-- DAY 2 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#accordion2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">DAY, DATE</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="accordion2_2">
				<div class="panel-body">
					<p></p>
				</div>
			</div>
		</div>
		<!-- DAY 3 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#accordion2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">DAY, DATE</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="accordion2_3">
				<div class="panel-body">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>
